body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 95%;
  width: 100vw;
}
.my-location-image {
  width: 90%;
  display: block;
  margin: auto;
}
.about-this-site {
  float: right;
  padding-right: 1rem;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
#how-to-use {
  width:70%;
}
#how-to-use-list{
  text-align: justify;
}
.about-page {
  border: solid black 1px;
}
#boundary-map {
  width: 100%;
}
#map-forms-container{
  margin: .3rem;
}