html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}
#map {
  height: 95%;
  width: 100%;
}
.my-location-image {
  width: 90%;
  display: block;
  margin: auto;
}
.about-this-site {
  float: right;
  padding-right: 1rem;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
#how-to-use {
  width:70%;
}
#how-to-use-list{
  text-align: justify;
}
.about-page {
  border: solid black 1px;
}
#boundary-map {
  width: 100%;
}
#map-forms-container{
  margin: .3rem;
}

/*  widescreen  */
@media only screen and (min-width: 720px) {
  html {
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  body {
    height: 100%;
    width: 100%;
  }
  #map {
    height: 90%;
    width: 100%;
  }
  #add-new-pokestop-form-div {
    display: block;
  }
  hr {
    display: inherit;
  }

}

/*   mobile   */
@media only screen and (max-width: 720px) {
  #add-new-pokestop-form-div {
    display: none;
  }
  hr {
    display: none;
  }
  .display-add-pokestop-form {
    height: 90% !important;
    width: 100% !important;
  }
}