html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}
#map {
  height: 89%;
  width: 100%;
}
.my-location-image {
  width: 90%;
  display: block;
  margin: auto;
}
.about-this-site {
  float: right;
  margin-right: 1rem;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
#how-to-use {
  width:70%;
}
#how-to-use-list{
  text-align: justify;
}
#boundary-map {
  width: 100%;
}
#map-forms-container{
  margin: .3rem;
}
#reward-search {
  width: inherit;
}
#add-new-pokestop-latitude,
#add-new-pokestop-longitude,
#add-new-pokestop-name {
  width: inherit;
}
.about-add-pokestop-img {
  width: 3%;
}
#user-email,
#changes-requested {
  width: inherit;
  min-width: inherit;
  margin: 0 auto;
}
/*  widescreen  */
@media only screen and (min-width: 720px) {

}

/*   mobile   */
@media only screen and (max-width: 720px) {
  .about-add-pokestop-img {
    width: 7%;
  }
}